
# Создано https://www.toptal.com/developers/gitignore/api/microsoftoffice,латекс
# Редактировать по адресу https://www.toptal.com/developers/gitignore?templates=microsoftoffice,латекс

### Латекс ###
## Основные вспомогательные файлы latex/pdflatex:
*.aux
*.lof
*.журнал
*.лот
*.fls
*.выход
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.фунт

## Промежуточные документы:
*.dvi
*.xdv
*-преобразовано-в.*
# эти правила могут исключать файлы изображений для рисунков и т.д.
# *.ps
# *.eps
# *.pdf

## Генерируется, если пустая строка указана в "Пожалуйста, введите другое имя файла для вывода:"
.pdf

## Вспомогательные файлы библиографии (bibtex/biblatex/biber):
*.баррель
*.bcf
*.blg
*-blx.aux
*-blx.нагрудник
*.run.xml

## Вспомогательные файлы инструмента сборки:
*.fdb_latexmk
*.synctex
*.synctex(занято)
*.synctex.gz
*.synctex.gz(занят)
*.pdfsync

## Создание каталогов инструментов для вспомогательных файлов
# latexrun
латекс.выход/

## Вспомогательные и промежуточные файлы из других пакетов:
# алгоритмы
*.alg
*.loa

# achemso
acs-*.нагрудник

# amsthm
*.thm

# излучатель
*.nav
*.pre
*.snm
*.vrb

# изменения
*.soc

# комментарий
*.вырезать

# cprotect
*.cpt

# elsarticle (класс документов журналов Elsevier)
*.spl

# концевые
примечания *.ent

# исправь
меня *.lox

# фейнмф/фейнмп
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.конец
*.?конец
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# глоссарии
*.acn
*.acr
*.glg
*.гло
*.gls
*.glsdefs
*.lzo
*.lzs

# раскомментируйте это для глоссариев-дополнительно (будут игнорироваться файлы стилей makeindex!)
# *.ist

# gnuplottex
*-gnuplottex-*

# грегориотекс
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.ссылка

# гиперреф
*.brf

# вязание
*-конкорданс.текс
# TODO Раскомментируйте следующую строку, если вы используете knitr и хотите игнорировать созданные им файлы tikz
# *.tikz
*-tikzDictionary

# объявления
*.lol

# luatexja-рубин
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# миниток
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# отчеканено
_ отчеканено*
*.пигмей

# больше записей
*.МВт

# ньюпакс
*.ньюпакс

# номенклатура
*.nlg
*.nlo
*.nls

# пакс
*.чел.

# pdfpcnotes
*.pdfpc

# сагетекс
*.сагетекс.мудрец
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# сочувствую
*.сочувствую
*.
сочувствую-сюжеты-для-*.текс/

# pdfcomment
*.упа
*.upb

# pythontex
*.pytxcode
pythontex-файлы-*/

# цветная коробка
*.список

# thmtools
*.loe

# TikZ и PGF
*.dpth
*.md5
*.вспомогательный замок

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# простое
задание *.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic предварительно скомпилированные матрицы и контуры
*.xyc
*.xyd

# плавучий
конец *.ttt
*.fff

# Латексианец
TSWLatexianTemp*

## Редакторы:
# Вино
*.бак
*.сав

# Texpad
.texpadtmp

# Ликс
*.ликс~

# Kile
*.резервное копирование

# жевательная
резинка .*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# автоматическая папка при использовании emacs и auctex
./авто/*
*.el

# ожидайте прямых ссылок с \тегами сбора
*-теги.tex

# автономные пакеты
*.sta

# Файлы журналов Makeindex
*.lpz

 пакет # xwatermark
*.xwm

# REVTeX помещает сноски в библиографию по умолчанию, если только nofootinbib
 указана опция#. Сноски хранятся в файле с суффиксом Notes.bib.
# Раскомментируйте следующую строку, чтобы этот сгенерированный файл был проигнорирован.
#*Примечания.нагрудник

### Латексный пластырь ###
# ЛИПИки / ОАЗИсы
*.vtc

# глоссарии
*.glstex

### Microsoft Office ###
*.tmp

# Слово временное
~$*.док*

# Файл автоматической резервной копии Word
Резервная копия *.doc*

# Excel временный
~$*.xls*

# Файл резервной копии Excel
*.xlk

# PowerPoint временно
~$*.ppt*

# Автоматическое сохранение временных файлов Visio
*.~всд*

# Конец https://www.toptal.com/developers/gitignore/api/microsoftoffice,латекс
